# JetBrain Project settings
.idea/

# Data files
*.dat
GeoIP*
GeoLite*

parsedmarc/resources/maps/base_reverse_dns.csv
parsedmarc/resources/maps/unknown_base_reverse_dns.csv
*.bak

/config.yaml

/*.exe
.claude
/parsedmarc-go
/build/*
/debug-config.yaml
/debug_attachment.gz
